/*
------------------------------------------------------
Laura Thomas
CIS 411
Assignment #4
Media Queries
February 5, 2014
------------------------------------------------------

/*Generic Styling*/

@media screen {

    #container {
	   margin: 0 auto;
		width: 100%;
		background: #fff;
	}
	
	#header {
		background: #ccc;
		padding: 20px;
	}
	
	#header h1 {
		margin: 0;
	}
	
	#navigation {
		float: left;
		width: 100%;
		background: #333;
	}
	
	#navigation ul {
		margin: 0;
		padding: 0;
	}
	
	#navigation ul li {
		list-style-type: none;
		display: inline;
	}
	
	#navigation li a {
		display: block;
		float: left;
		padding: 5px 51px;
		color: #fff;
		text-decoration: none;
		border-right: 1px solid #fff;
	}
	
	#navigation li a:hover { background: #383; }
	
	#content-container {
		float: left;
		width: 100%;
		background: #FFF;
	}
	
	#content {
		clear: left;
		float: left;
		width: 60%;
		padding: 20px 0;
		margin: 0 0 0 4%;
		display: inline;
	}
	
	#content h2 { margin: 0; }
	
	#aside {
		float: right;
		width: 26%;
		padding: 20px 0;
		margin: 0 3% 0 0;
		display: inline;
	}
	
	#aside h3 {
		margin: 0;
	}
	
	#footer {
		clear: left;
		background: #ccc;
		text-align: right;
		padding: 20px;
		height: 1%;
	}
	
	img {
	top: 10%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
	}
}



/*Styling for Print Preview*/

@media print {

	#header, #navigation, #footer {
    	display: none;
    }

    #content {
    	margin-right: 0px;
    	width: 100%;
    }

    #aside {
    	float: none;
		display: block;
		margin-left: 0px;
		width: 100%;
    }
}



/*Styling for any screen less than 590px in width & any height; this will encompass all mobile devices 
(590px chosen because at that point, the sidebar would normally overlap the image)*/

@media screen and (max-width: 590px) {

		#aside {
			display: none;
		}

		#content { 
		 	width:100%
		 	padding: 0px;
		 	text-align: left;
		}

		#header {
    	    position: fixed;
    	    width:100%
    	}

    	#navigation {
			margin-top: 80px;
			width: 100%
		}

		#navigation ul li a {
    	    float: none;
    	    display: block;
    		text-align: center;
    	}

        img.responsive_img {
			position: float;
			max-width: 100%;
			top: 10%;
			left: 10%;
			border-radius: 3px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.9);
		}

}
